# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true

[*.{cpp,hpp,md,txt}]
charset = utf-8

# Indentation override for all JS under lib directory
[{include,src}/**.{cpp,hpp}]
indent_style = tab

[*.md]
indent_style = space
indent_size = 2
